<div style="text-align: left;" class="mb-3">
        <a type="button" class="btn btn-primary" href="/admin/quan-ly-tour">
            Danh sách các tour
        </a>
</div>
<div>
    <table class="table table-hover" id="dtBasicExample">
            <thead style="text-align: center;">
                <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Họ và Tên</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="filter">
                {{#each dattours}}
                <tr>
                        <th scope="row" style="text-align: center;">{{sum @index 1}}</th>
                        <td>{{this.name}}</td>
                        <td style="text-align: center;">{{this.phone}}</td>
                        <td>{{this.address}}</td>
                        <td>{{this.status}}</td>
                        <td>
                            <a href="/admin/quan-ly-tour/xem-chi-tiet/{{this._id}}" class="btn btn-warning">Xem chi tiết</a>
                            <a href="" class="btn btn-danger" data-bs-id="{{this._id}}"  data-bs-toggle="modal" data-bs-target="#modalDelete">Xoá</a>
                        </td>
                </tr>
                {{/each}}
            </tbody>
    </table>
</div>