
<div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
            {{>admin}}
            <div>
                  <!-- Begin Page Content -->
                  <div class="container-fluid" id="demo">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                              <h1 class="h3 mb-0 text-gray-800">Quản lý Bình Luận</h1>
                              <div style="float: right;">
                                    <a class="nav-link" href="/admin/quan-ly-comment/thung-rac" id="alertsDropdown" role="button" aria-expanded="false">
                                          <img style="float: right;" src="https://img.icons8.com/avantgarde/512/delete.png" width="40px" alt="">
                                          <span class="badge badge-danger badge-counter">{{deletedCount}}</span>
                                    </a>
                              </div>
                        </div>
                        <form name="container-form" method="POST" action="/admin/quan-ly-comment/handle-form-action">
                        
                        <div class="d-flex align-items-center mb-3">
                              <div class="form-check" style="padding-right: 10px;">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                                    <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
                              </div>
                              <select name="action" class="form-select" aria-label="Default select example" style="width: 200px" required>
                                    <option selected>-- Chọn hành động --</option>
                                    <option value="delete">Xoá</option>
                              </select>
                              <button class="btn btn-primary check-all-submit-btn" disabled>Thực hiện</button>
                        </div>
                        <div id="comment">

                              <div>
                                    <table class="table table-hover" id="dtBasicExample">
                                          <thead style="text-align: center;">
                                                <tr>
                                                      <th></th>
                                                      <th scope="col">STT</th>
                                                      <th scope="col">ID</th>
                                                      <th scope="col">Nội Dung</th>
                                                      <th scope="col">Đánh giá sao
                                                            <div class="btn-group">
                                                                  <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="border: non;"></a>
                                                                  <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item" href="/admin/quan-ly-comment/danh-gia-sao/giam-dan">Đánh giá sao giảm dần</a></li>
                                                                        <li><a class="dropdown-item" href="/admin/quan-ly-comment/danh-gia-sao/tang-dan">Đánh giá sao tăng dần</a></li>
                                                                        <li><hr class="dropdown-divider"></li>
                                                                        <li><a class="dropdown-item" href="/admin/quan-ly-comment">Tất cả</a></li>
                                                                  </ul>
                                                            </div>
                                                      </th>
                                                      <th scope="col">Số lượt thích
                                                            <div class="btn-group">
                                                                  <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="border: non;"></a>
                                                                  <ul class="dropdown-menu">
                                                                        <li><a class="dropdown-item" href="/admin/quan-ly-comment/so-luot-thich/giam-dan">Số lượt thích giảm dần</a></li>
                                                                        <li><a class="dropdown-item" href="/admin/quan-ly-comment/so-luot-thich/tang-dan">Số lượt thích tăng dần</a></li>
                                                                        <li><hr class="dropdown-divider"></li>
                                                                        <li><a class="dropdown-item" href="/admin/quan-ly-comment">Tất cả</a></li>
                                                                  </ul>
                                                            </div>
                                                      </th>
                                                      <th scope="col">Cmt của Bài Viết</th>
                                                      <th scope="col"></th>
                                                </tr>
                                          </thead>
                                          <tbody id="myfilter">
                                                {{#each comment}}
                                                <tr>
                                                      <th>
                                                            <div class="form-check" style="padding-right: 10px;">
                                                                  <input class="form-check-input" type="checkbox" name="commentIds[]" value="{{this._id}}">
                                                            </div>
                                                      </th>
                                                      <th scope="row" style="text-align: center;">{{sum @index 1}}</th>
                                                      <td>{{this._id}}</td>
                                                      <td>
                                                            <b>Nội dung: </b>{{this.comment}}<br>
                                                            <b>Thời gian Cmt: </b>{{this.date}}
                                                      </td>
                                                      <td style="text-align: center;">{{this.rate}}</td>
                                                      <td style="text-align: center;">{{this.like}}</td>
                                                      <td>{{this.posts}}</td>
                                                      <td>
                                                            <a href="" class="btn btn-danger" data-bs-id="{{this._id}}"  data-bs-toggle="modal" data-bs-target="#modalDelete">Xoá</a>
                                                      </td>
                                                </tr>
                                                {{else}}
                                                <tr class="text-center">
                                                      <td colspan="8">Chưa có bình luận nào.</td>
                                                </tr>
                                                {{/each}}
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                        </form>
                        <!-- Modal Xoá -->
                        <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">
                                    <div class="modal-content">
                                          <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Xoá Bình luận?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                                <p>Bạn có chắc chắn muốn xoá bình luận này?</p>
                                          </div>
                                          <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                      data-bs-dismiss="modal">Huỷ</button>
                                                <button id="btn-delete" type="button"
                                                      class="btn btn-danger">Xoá</button>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <!-- Modal Xoá -->

                        {{!-- Form hidden delete --}}
                        <form name="form-dd-delete" method="POST"></form>
                        {{!-- Form hidden delete --}}
                        
                  </div>

            </div>
      </div>
      <!-- End of Page Wrapper -->
      <!-- End of Content Wrapper -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                        <span>Copyright &copy;2022</span>
                  </div>
            </div>
      </footer>
      <!-- End of Footer -->

      </div>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level custom scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script>
      document.addEventListener('DOMContentLoaded', function(){
            var ddID;
            var deleteForm = document.forms['form-dd-delete'];
            var containerForm = $('form[name="container-form"]');

            var btnDelete = document.getElementById('btn-delete');
            var checkboxAll = $('#checkbox-all');
            var itemCheckbox = $('input[name="commentIds[]"]');
            var checkAllSubmitBtn = $('.check-all-submit-btn');

            $('#modalDelete').on('show.bs.modal', event => {
                  // Button that triggered the modal
                  var button = event.relatedTarget
                  // Extract info from data-bs-* attributes
                  ddID = button.getAttribute('data-bs-id')
            });

            btnDelete.onclick = function () {
                  deleteForm.action = '/admin/quan-ly-comment/' + ddID + '?_method=DELETE'; 
                  deleteForm.submit();
            }

            // Checkbox all click
            checkboxAll.change(function () {
                  var isCheckedAll = $(this).prop('checked');
                  itemCheckbox.prop('checked', isCheckedAll);
                  renderCheckAllSubmitBtn();
            });

            // item checkbox changed
            itemCheckbox.change( function () {
                  var isCheckedAll = itemCheckbox.length === $('input[name="commentIds[]"]:checked').length;
                  checkboxAll.prop('checked', isCheckedAll);
                  renderCheckAllSubmitBtn();
            });

            function renderCheckAllSubmitBtn() {
                  var checkedCount = $('input[name="commentIds[]"]:checked').length;
                  if(checkedCount > 0){
                        checkAllSubmitBtn.attr('disabled', false);
                  } else {
                        checkAllSubmitBtn.attr('disabled', true);
                  }
            }
      });
</script>
