
<div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
            {{>admin-tour}}
            <div>
                  <!-- Begin Page Content -->
                  <div class="container-fluid" id="demo">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                              <h1 class="h3 mb-0 text-gray-800">Quản lý Đặt Tour</h1>
                              <div style="float: right;">
                                    <a class="nav-link" href="/chu-tour/quan-ly-dat-tour/thung-rac" id="alertsDropdown" role="button" aria-expanded="false">
                                          <img style="float: right;" src="https://img.icons8.com/avantgarde/512/delete.png" width="40px" alt="">
                                          <span class="badge badge-danger badge-counter">{{deletedCount}}</span>
                                    </a>
                                    
                              </div>
                        </div>

                        <form name="container-form" method="POST" action="/chu-tour/quan-ly-dat-tour/handle-form-action">
                        <div class="d-flex align-items-center mb-3">
                              <div class="form-check" style="padding-right: 10px;">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                                    <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
                              </div>
                              <select name="action" class="form-select" aria-label="Default select example" style="width: 200px" required>
                                    <option selected>-- Chọn hành động --</option>
                                    <option value="delete">Xoá</option>
                              </select>
                              <button class="btn btn-primary check-all-submit-btn" disabled>Thực hiện</button>
                        </div>

                        <div id="dattour">

                              <div>
                                    <table class="table table-hover" id="dtBasicExample">
                                          <thead style="text-align: center;">
                                          <tr>
                                                <th></th>
                                                <th scope="col">STT</th>
                                                <th scope="col">Thông tin Khách hàng</th>
                                                <th scope="col">Thông tin Tour</th>
                                                <th scope="col">Tổng</th>
                                                <th scope="col">Trạng thái
                                                      <div class="btn-group">
                                                            <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="border: non;"></a>
                                                            <ul class="dropdown-menu">
                                                                  <li><a class="dropdown-item" href="/admin/quan-ly-dat-tour/trang-thai/chua-duyet">Chưa duyệt</a></li>
                                                                  <li><a class="dropdown-item" href="/admin/quan-ly-dat-tour/trang-thai/da-duyet">Đã duyệt</a></li>
                                                                  <li><a class="dropdown-item" href="/admin/quan-ly-dat-tour/trang-thai/da-thanh-toan">Đã thanh toán</a></li>
                                                                  <li><a class="dropdown-item" href="/admin/quan-ly-dat-tour/trang-thai/da-ket-thuc">Đã kết thúc</a></li>
                                                                  <li><a class="dropdown-item" href="/admin/quan-ly-dat-tour/trang-thai/da-huy-tour">Đã huỷ tour</a></li>
                                                                  <li><hr class="dropdown-divider"></li>
                                                                  <li><a class="dropdown-item" href="/admin/quan-ly-dat-tour">Tất cả</a></li>
                                                            </ul>
                                                      </div>
                                                </th>
                                                <th scope="col"></th>
                                          </tr>
                                          </thead>
                                          <tbody id="myfilter">
                                          {{#each dattours}}
                                          <tr>
                                                <th>
                                                      <div class="form-check" style="padding-right: 10px;">
                                                            <input class="form-check-input" type="checkbox" name="dattourIds[]" value="{{this._id}}">
                                                      </div>
                                                </th>
                                                <th scope="row" style="text-align: center;">{{sum @index 1}}</th>
                                                <td>
                                                      <b>Họ và tên: </b>{{this.name}}<br>
                                                      <b>Số điện thoại: </b>{{this.phone}}<br>
                                                      <b>Địa chỉ: </b>{{this.address}}<br>
                                                      <hr>
                                                      <b>Trẻ em dưới 6 tuổi: </b>{{this.sm6}}<br>
                                                      <b>Trẻ em từ 6 - 9 tuổi: </b>{{this.f69}}<br>
                                                      <b>Từ 10 tuổi trở lên: </b>{{this.lg9}}<br>
                                                </td>
                                                <td>
                                                      <b>Tên tour: </b>{{this.nametour}}<br>
                                                      <b>Giá tour: </b>{{this.pricetour}}<br>
                                                      <b>Ngày dự kiến: </b>{{this.day}}<br>
                                                </td>
                                                <td>
                                                      <b>Tổng số người: </b>{{total this.sm6 this.f69 this.lg9}}<br>
                                                      <b>Tổng số tiền: </b>{{this.total}}
                                                </td>
                                                <td><a type="button" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#modalStatus">{{this.status}}</a></td>
                                                <td>
                                                <a href="/chu-tour/quan-ly-tour/xem-chi-tiet/{{this._id}}" class="btn btn-warning">Xem chi tiết</a>
                                                <a href="" class="btn btn-danger" data-bs-id="{{this._id}}"  data-bs-toggle="modal" data-bs-target="#modalDelete">Xoá</a>
                                                </td>
                                          </tr>
                                          
                                          {{else}}
                                                <tr class="text-center">
                                                      <td colspan="7">Chưa có tour nào được đặt.</td>
                                                </tr>
                                          {{/each}}
                                          </tbody>
                              </table>
                              </div>
                        </div>
                        </form>
                        <!-- Modal Status -->
                        <div class="modal fade" id="modalStatus" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <form name="form-dd-status" class="modal-dialog" method="POST">
                                    <div class="modal-content">
                                          <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Chuyển đổi trạng thái?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                                <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="status" value="Chưa duyệt" id="flexRadioDefault1">
                                                      <label class="form-check-label" for="flexRadioDefault1">
                                                      Chưa duyệt
                                                      </label>
                                                </div>
                                                <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="status" value="Đã duyệt" id="flexRadioDefault2">
                                                      <label class="form-check-label" for="flexRadioDefault2">
                                                      Đã duyệt
                                                      </label>
                                                </div>
                                                <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="status" value="Đã thanh toán" id="flexRadioDefault3">
                                                      <label class="form-check-label" for="flexRadioDefault3">
                                                      Đã thanh toán
                                                      </label>
                                                </div>
                                                <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="status" value="Đã kết thúc" id="flexRadioDefault4">
                                                      <label class="form-check-label" for="flexRadioDefault4">
                                                      Đã kết thúc
                                                      </label>
                                                </div>
                                                <div class="form-check">
                                                      <input class="form-check-input" type="radio" name="status" value="Đã huỷ tour" id="flexRadioDefault5">
                                                      <label class="form-check-label" for="flexRadioDefault5">
                                                      Đã huỷ tour
                                                      </label>
                                                </div>
                                          </div>
                                          <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                      data-bs-dismiss="modal">Huỷ</button>
                                                <button type="button" id="btn-status"
                                                      class="btn btn-danger">Đổi</button>
                                          </div>
                                    </div>
                              </form>
                        </div>
                        <!-- Modal Xoá -->
                        <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">
                                    <div class="modal-content">
                                          <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Xoá Tour?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                                <p>Bạn có chắc chắn muốn xoá tour này?</p>
                                          </div>
                                          <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                      data-bs-dismiss="modal">Huỷ</button>
                                                <button id="btn-delete" type="button"
                                                      class="btn btn-danger">Xoá</button>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <!-- Modal Xoá -->

                        {{!-- Form hidden delete --}}
                        <form name="form-dd-delete" method="POST"></form>
                  </div>

            </div>
      </div>
      <!-- End of Page Wrapper -->
      <!-- End of Content Wrapper -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                        <span>Copyright &copy;2022</span>
                  </div>
            </div>
      </footer>
      <!-- End of Footer -->

      </div>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level custom scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script>
      document.addEventListener('DOMContentLoaded', function(){
            var ddID;
            var deleteForm = document.forms['form-dd-delete'];
            var statusForm = document.forms['form-dd-status'];

            var containerForm = $('form[name="container-form"]');

            var btnDelete = document.getElementById('btn-delete');
            var btnStatus = $('#btn-status');

            var checkboxAll = $('#checkbox-all');
            var itemCheckbox = $('input[name="dattourIds[]"]');
            var checkAllSubmitBtn = $('.check-all-submit-btn');

            $('#modalDelete').on('show.bs.modal', event => {
                  // Button that triggered the modal
                  var button = event.relatedTarget
                  // Extract info from data-bs-* attributes
                  ddID = button.getAttribute('data-bs-id')
            });

            btnDelete.onclick = function () {
                  deleteForm.action = '/admin/quan-ly-tour/' + ddID + '?_method=DELETE'; 
                  deleteForm.submit();
            }

            $('#modalStatus').on('show.bs.modal', event => {
                  // Button that triggered the modal
                  var button = event.relatedTarget
                  // Extract info from data-bs-* attributes
                  ddID = button.getAttribute('data-id')
            });

            btnStatus.click( function (e) {
                  e.preventDefault();
                  var id = ddID;
                  statusForm.action = '/chu-tour/quan-ly-tour/xem-chi-tiet/' + id + '?_method=PUT'; 
                  statusForm.submit();
            });

            // Checkbox all click
            checkboxAll.change(function () {
                  var isCheckedAll = $(this).prop('checked');
                  itemCheckbox.prop('checked', isCheckedAll);
                  renderCheckAllSubmitBtn();
            });

            // item checkbox changed
            itemCheckbox.change( function () {
                  var isCheckedAll = itemCheckbox.length === $('input[name="dattourIds[]"]:checked').length;
                  checkboxAll.prop('checked', isCheckedAll);
                  renderCheckAllSubmitBtn();
            });

            function renderCheckAllSubmitBtn() {
                  var checkedCount = $('input[name="dattourIds[]"]:checked').length;
                  if(checkedCount > 0){
                        checkAllSubmitBtn.attr('disabled', false);
                  } else {
                        checkAllSubmitBtn.attr('disabled', true);
                  }
            }
      });
</script>

