{{>admin}}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
                <div id="filter">
                  <!-- Page Heading -->
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Quản lý Điểm Đến</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                  </div>

                  <!-- Button trigger modal -->
                  <div class="container" style="text-align: right;">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formCreate">
                              Thêm điểm đến
                        </button>
                  </div>

                  <div class="container" id="diemden">

                        <div class="form-outline mb-4">
                              <input type="text" class="form-control" id="myFilter" placeholder="Nhập vào để tìm kiếm ..." />
                              <label class="form-label" for="datatable-search-input"></label>
                        </div>
                        <div>
                              <table class="table table-hover" id="dtBasicExample">
                                    <thead>
                                          <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Tên điểm đến</th>
                                                <th scope="col" colspan="2">Địa chỉ</th>
                                          </tr>
                                    </thead>
                                    <tbody id="filter">
                                          {{#each diadiem}}
                                          <tr>
                                                <th scope="row">{{sum @index 1}}</th>
                                                <td>{{this.name}}</td>
                                                <td>{{this.address}}</td>
                                                <td>
                                                      <a href="/admins/quan-ly-dia-diem/{{this._id}}/sua" type="button" class="btn btn-warning">Sửa</a>
                                                      <a href="" class="btn btn-danger" data-bs-id="{{this._id}}"  data-bs-toggle="modal" data-bs-target="#modalDelete">Xoá</a>
                                                </td>
                                          </tr>
                                          {{/each}}
                                    </tbody>
                              </table>
                        </div>
                  </div>

                  <!-- Form Thêm -->
                  <div class="modal fade" id="formCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                              <div class="modal-content">
                                    <form action="admins/quan-ly-dia-diem" method="POST">
                                          <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">THÊM ĐIỂM ĐẾN MỚI</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                                <div>
                                                      <section class="vh-100" style="background-color: #eee;">

                                                            <div class="row px-5">
                                                                  {{!-- <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">THÊM ĐIỂM
                                                                        ĐẾN MỚI</p> --}}
                                                                  <div class="col">
                                                                        <div class="form-outline flex-fill mb-0 py-2">
                                                                              <input type="text" name="name" id="form3Example1c"
                                                                                    class="form-control" required />
                                                                              <label class="form-label" for="form3Example1c">Tên điểm
                                                                                    đến</label>
                                                                        </div>
                                                                        <div class="form-outline flex-fill mb-0 py-2">
                                                                              <input type="text" name="address" id="form3Example1c"
                                                                                    class="form-control" required />
                                                                              <label class="form-label" for="form3Example1c">Địa
                                                                                    chỉ</label>
                                                                        </div>
                                                                        <div class="form-outline flex-fill mb-0 py-2">
                                                                              <input type="email" name="email" id="form3Example1c"
                                                                                    class="form-control" />
                                                                              <label class="form-label" for="form3Example1c">Email</label>
                                                                        </div>
                                                                        <div class="row">
                                                                              <div class="col-3 form-outline flex-fill mb-0 py-2">
                                                                                    <input type="text" name="time" id="form3Example1c"
                                                                                          class="form-control" />
                                                                                    <label class="form-label" for="form3Example1c">Thời
                                                                                          gian tham quan</label>
                                                                              </div>
                                                                              <div class="col-3 form-outline flex-fill mb-0 py-2">
                                                                                    <input type="text" name="price" id="form3Example1c"
                                                                                          class="form-control" />
                                                                                    <label class="form-label"
                                                                                          for="form3Example1c">Giá</label>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                                  <div class="col">
                                                                        <div class="form-outline flex-fill mb-0 py-2">
                                                                              <input type="text" name="phone" id="form3Example1c"
                                                                                    class="form-control" />
                                                                              <label class="form-label" for="form3Example1c">Số điện
                                                                                    thoại</label>
                                                                        </div>
                                                                        <div class="form-outline flex-fill mb-0 py-2">
                                                                              <input type="text" name="place" id="form3Example1c"
                                                                                    class="form-control" />
                                                                              <label class="form-label" for="form3Example1c">URL vị
                                                                                    trí</label>
                                                                        </div>
                                                                        <div class="form-outline flex-fill mb-0 py-2">
                                                                              <input type="text" name="image" id="form3Example1c"
                                                                                    class="form-control" required />
                                                                              <label class="form-label" for="form3Example1c">URL hình
                                                                                    ảnh</label>
                                                                        </div>
                                                                        <div class="row">
                                                                              <div class="col-3 form-outline flex-fill mb-0 py-2">
                                                                                    <input type="text" name="open" id="form3Example1c"
                                                                                          class="form-control" />
                                                                                    <label class="form-label" for="form3Example1c">Thời
                                                                                          gian mở cửa</label>
                                                                              </div>
                                                                              <div class="col-3 form-outline flex-fill mb-0 py-2">
                                                                                    <input type="text" name="close" id="form3Example1c"
                                                                                          class="form-control" />
                                                                                    <label class="form-label" for="form3Example1c">Thời
                                                                                          gian đóng cửa</label>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                                  <div class="form-outline flex-fill mb-0 py-2">
                                                                        <input type="text" name="map" id="form3Example1c"
                                                                              class="form-control" required />
                                                                        <label class="form-label" for="form3Example1c">Map</label>
                                                                  </div>
                                                                  <div class="form-outline flex-fill mb-0 py-2">
                                                                        <textarea row="500" type="description" name="description"
                                                                              id="form3Example1c" class="form-control"
                                                                              required></textarea>
                                                                        <label class="form-label" for="form3Example1c">Mô tả</label>
                                                                  </div>
                                                            </div>
                                                      </section>
                                                </div>
                                          </div>
                                          <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                                                <button type="submit" class="btn btn-success">Thêm</button>
                                          </div>
                                    </form>
                              </div>
                        </div>
                  </div>
                  <!-- Form Thêm -->
                  <!-- Modal Xoá -->
                  <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                              <div class="modal-content">
                                    <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">Xoá Điểm Đến?</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                          <p>Bạn có chắc chắn muốn xoá điểm đến này?</p>
                                    </div>
                                    <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                                          <button id="btn-delete" type="button" class="btn btn-danger">Xoá</button>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!-- Modal Xoá -->

                  {{!-- Form hidden delete --}}
                  <form name="form-dd-delete" method="POST"></form>
                  {{!-- Form hidden delete --}}
            </div>
      </div>
</body>

<script src="/js/deleteDiaDiem.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
