<div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
            {{>admin}}
            <div>
                  <!-- Begin Page Content -->
                  <div class="container-fluid" id="demo">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                              <h1 class="h3 mb-0 text-gray-800">Quản lý Nơi Ở</h1>
                              <div style="float: right;">
                                    <a class="nav-link" href="/admin/quan-ly-khach-san/thung-rac" id="alertsDropdown" role="button" aria-expanded="false">
                                          <img style="float: right;" src="https://img.icons8.com/avantgarde/512/delete.png" width="40px" alt="">
                                          <span class="badge badge-danger badge-counter">{{deletedCount}}</span>
                                    </a>
                              </div>
                        </div>

                        <!-- Button trigger modal -->
                        <div class="m-3" style="text-align: right;">
                              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formCreate">
                                    Thêm Nơi Ở
                              </button>
                        </div>
                        <form name="container-form" method="POST" action="/admin/quan-ly-khach-san/handle-form-action">
                        <div class="d-flex align-items-center mb-3">
                              <div class="form-check" style="padding-right: 10px;">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                                    <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
                              </div>
                              <select name="action" class="form-select" aria-label="Default select example" style="width: 200px" required>
                                    <option selected>-- Chọn hành động --</option>
                                    <option value="delete">Xoá</option>
                              </select>
                              <button class="btn btn-primary check-all-submit-btn" disabled>Thực hiện</button>
                        </div>
                        <div id="khachsan">

                              <div>
                                    <table class="table table-hover" id="dtBasicExample">
                                          <thead style="text-align: center;">
                                                <tr>
                                                      <th></th>
                                                      <th scope="col">STT</th>
                                                      <th scope="col">Hình ảnh</th>
                                                      <th scope="col">Tiêu đề</th>
                                                      <th scope="col">Loại</th>
                                                      <th scope="col"></th>
                                                </tr>
                                          </thead>
                                          <tbody id="myfilter">
                                                {{#each khachsan}}
                                                <tr>
                                                      <th>
                                                            <div class="form-check" style="padding-right: 10px;">
                                                                  <input class="form-check-input" type="checkbox" name="khachsanIds[]" value="{{this._id}}">
                                                            </div>
                                                      </th>
                                                      <th scope="row" style="text-align: center;">{{sum @index 1}}</th>
                                                      <td><img src="{{this.image}}" width="100px" height="70px" alt=""></td>
                                                      <td>{{this.title}}</td>
                                                      <td style="text-align: center;">{{this.type}}</td>
                                                      <td>
                                                            <a href="/admin/quan-ly-khach-san/{{this._id}}/sua-khach-san" class="btn btn-warning">Sửa</a>
                                                            <a href="" class="btn btn-danger" data-bs-id="{{this._id}}"  data-bs-toggle="modal" data-bs-target="#modalDelete">Xoá</a>
                                                      </td>
                                                </tr>
                                                {{else}}
                                                <tr class="text-center">
                                                      <td colspan="6">Chưa có nơi ở nào. <a type="button" data-bs-toggle="modal" data-bs-target="#formCreate">Thêm nơi ở</a></td>
                                                </tr>
                                                {{/each}}
                                          </tbody>
                                    </table>
                              </div>
                        </div>
                        </form>
                        <!-- Form Thêm -->
                        <div class="modal fade" id="formCreate" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                          <form action="/admin/quan-ly-khach-san" method="POST">
                                                <div class="modal-header">
                                                      <h1 class="modal-title fs-5" id="exampleModalLabel">THÊM BÀI VIẾT MỚI</h1>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                      <div>
                                                            <section style="background-color: #eee; color:black">

                                                                  <div class="row px-5">
                                                                        <div class="col">
                                                                              <div class="form-outline flex-fill mb-0 py-2">
                                                                                    <input type="text" name="title" id="form3Example1c" class="form-control" required />
                                                                                    <label class="form-label" for="form3Example1c">Tiêu đề</label>
                                                                              </div>
                                                                              <div class="form-outline flex-fill mb-0 py-2">
                                                                                    <input type="text" name="image" id="form3Example1c" class="form-control" required />
                                                                                    <label class="form-label" for="form3Example1c">URL hình ảnh</label>
                                                                              </div>
                                                                              <div class="form-outline flex-fill mb-0 py-2">
                                                                                    <select name="type" class="form-select" aria-label="Default select example">
                                                                                          <option selected>Chọn type</option>
                                                                                          <option value="synthetic">Tổng hợp</option>
                                                                                          <option value="hotel">Khách sạn</option>
                                                                                          <option value="homestay">Homestay</option>
                                                                                    </select>
                                                                              </div>
                                                                              {{!-- <div class="form-outline flex-fill mb-0 py-2">
                                                                                    <input type="color" name="color" id="form3Example1c" class="form-control" required />
                                                                                    <label class="form-label" for="form3Example1c">Màu sắc đường viền</label>
                                                                              </div> --}}
                                                                        </div>
                                                                  </div>
                                                            </section>
                                                      </div>
                                                </div>
                                                <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                                                      <button type="submit" class="btn btn-success">Thêm</button>
                                                </div>
                                          </form>
                                    </div>
                              </div>
                        </div>
                        <!-- Form Thêm -->

                        <!-- Modal Xoá -->
                        <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">
                                    <div class="modal-content">
                                          <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Xoá Bài Viết?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                                <p>Bạn có chắc chắn muốn xoá bài viết này?</p>
                                          </div>
                                          <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                      data-bs-dismiss="modal">Huỷ</button>
                                                <button id="btn-delete" type="button"
                                                      class="btn btn-danger">Xoá</button>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <!-- Modal Xoá -->

                        {{!-- Form hidden delete --}}
                        <form name="form-dd-delete" method="POST"></form>
                        {{!-- Form hidden delete --}}
                        
                  </div>

            </div>
      </div>
      <!-- End of Page Wrapper -->
      <!-- End of Content Wrapper -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                        <span>Copyright &copy;2022</span>
                  </div>
            </div>
      </footer>
      <!-- End of Footer -->

      </div>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level custom scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script>
      document.addEventListener('DOMContentLoaded', function(){
            var ddID;
            var deleteForm = document.forms['form-dd-delete'];
            var containerForm = $('form[name="container-form"]');

            var btnDelete = document.getElementById('btn-delete');
            var checkboxAll = $('#checkbox-all');
            var itemCheckbox = $('input[name="khachsanIds[]"]');
            var checkAllSubmitBtn = $('.check-all-submit-btn');

            $('#modalDelete').on('show.bs.modal', event => {
                  // Button that triggered the modal
                  var button = event.relatedTarget
                  // Extract info from data-bs-* attributes
                  ddID = button.getAttribute('data-bs-id')
            });

            btnDelete.onclick = function () {
                  deleteForm.action = '/admin/quan-ly-khach-san/' + ddID + '?_method=DELETE'; 
                  deleteForm.submit();
            }

            // Checkbox all click
            checkboxAll.change(function () {
                  var isCheckedAll = $(this).prop('checked');
                  itemCheckbox.prop('checked', isCheckedAll);
                  renderCheckAllSubmitBtn();
            });

            // item checkbox changed
            itemCheckbox.change( function () {
                  var isCheckedAll = itemCheckbox.length === $('input[name="khachsanIds[]"]:checked').length;
                  checkboxAll.prop('checked', isCheckedAll);
                  renderCheckAllSubmitBtn();
            });

            function renderCheckAllSubmitBtn() {
                  var checkedCount = $('input[name="khachsanIds[]"]:checked').length;
                  if(checkedCount > 0){
                        checkAllSubmitBtn.attr('disabled', false);
                  } else {
                        checkAllSubmitBtn.attr('disabled', true);
                  }
            }
      });
</script>


