
<div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
            {{>admin-tour}}
            <div>
                  <!-- Begin Page Content -->
                  <div class="container-fluid" id="demo">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                              <h1 class="h3 mb-0 text-gray-800">Danh sách đặt tour đã xoá</h1>
                              {{!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                          class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> --}}
                        </div>
                        <div class="m-3" style="text-align: right;">
                              <a href="/chu-tour/quan-ly-dat-tour" class="quaylai">
                              Quay lại <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                    </svg>
                              </a>
                        </div>
                        <form name="container-form" method="POST" action="/chu-tour/quan-ly-dat-tour/trash-form-action">
                        <div class="d-flex align-items-center mb-3">
                              <div class="form-check" style="padding-right: 10px;">
                                    <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                                    <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
                              </div>
                              <select name="action" class="form-select" aria-label="Default select example" style="width: 200px" required>
                                    <option selected>-- Chọn hành động --</option>
                                    <option value="restore">Khôi phục</option>
                                    <option value="delete">Xoá vĩnh viễn</option>
                              </select>
                              <button class="btn btn-primary check-all-submit-btn" disabled>Thực hiện</button>
                        </div>

                        <div id="dattour">

                              <div>
                                    <table class="table table-hover" id="dtBasicExample">
                                          <thead style="text-align: center;">
                                          <tr>
                                                <th></th>
                                                <th scope="col">STT</th>
                                                <th scope="col">Thông tin Khách hàng</th>
                                                <th scope="col">Thông tin Tour</th>
                                                <th scope="col">Tổng</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col"></th>
                                          </tr>
                                          </thead>
                                          <tbody id="myfilter">
                                          {{#each dattours}}
                                          <tr>
                                                <th>
                                                      <div class="form-check" style="padding-right: 10px;">
                                                            <input class="form-check-input" type="checkbox" name="dattourIds[]" value="{{this._id}}">
                                                      </div>
                                                </th>
                                                <th scope="row" style="text-align: center;">{{sum @index 1}}</th>
                                                <td>
                                                      <b>Họ và tên: </b>{{this.name}}<br>
                                                      <b>Số điện thoại: </b>{{this.phone}}<br>
                                                      <b>Địa chỉ: </b>{{this.address}}<br>
                                                      <hr>
                                                      <b>Trẻ em dưới 6 tuổi: </b>{{this.sm6}}<br>
                                                      <b>Trẻ em từ 6 - 9 tuổi: </b>{{this.f69}}<br>
                                                      <b>Từ 10 tuổi trở lên: </b>{{this.lg9}}<br>
                                                </td>
                                                <td>
                                                      <b>Tên tour: </b>{{this.nametour}}<br>
                                                      <b>Giá tour: </b>{{this.pricetour}}<br>
                                                      <b>Ngày dự kiến: </b>{{this.day}}
                                                </td>
                                                <td>
                                                      <b>Tổng số người: </b>{{total this.sm6 this.f69 this.lg9}}<br>
                                                      <b>Tổng số tiền: </b>{{this.total}}
                                                </td>
                                                <td>{{this.status}}</td>
                                                <td>
                                                      <a href="" class="btn btn-warning btn-restore" data-id="{{this._id}}">Khôi phục</a>
                                                      <a href="" class="btn btn-danger" data-bs-id="{{this._id}}"  data-bs-toggle="modal" data-bs-target="#modalDelete">Xoá vĩnh viễn</a>
                                                </td>
                                          </tr>
                                          {{else}}
                                                <tr class="text-center">
                                                      <td colspan="7">Chưa có tour nào được xoá. <a href="/chu-tour/quan-ly-dat-tour">Quay lại</a></td>
                                                </tr>
                                          {{/each}}
                                          </tbody>
                              </table>
                              </div>
                        </div>
                        </form>
                  
                        <!-- Modal Xoá -->
                        <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog">
                                    <div class="modal-content">
                                          <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Xoá đơn đặt tour?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                      aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                                <p>Hành động này không thể khôi phục. Bạn có chắc chắn muốn xoá đơn đặt tour này?</p>
                                          </div>
                                          <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                      data-bs-dismiss="modal">Huỷ</button>
                                                <button id="btn-delete" type="button"
                                                      class="btn btn-danger">Xoá vĩnh viễn</button>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <!-- Modal Xoá -->

                        {{!-- Form hidden delete --}}
                        <form name="form-dd-delete" method="POST"></form>
                        {{!-- Form hidden restore --}}
                        <form name="form-dd-restore" method="POST"></form>
                        
                  </div>

            </div>
      </div>
      <!-- End of Page Wrapper -->
      <!-- End of Content Wrapper -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                        <span>Copyright &copy;2022</span>
                  </div>
            </div>
      </footer>
      <!-- End of Footer -->

      </div>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level custom scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="/js/deleteDatTour.js"></script>
