<link rel="stylesheet" href="/css/snip1547.css">
{{>header}}
<div style="background-image: url('https://mocquan.vn/wp-content/uploads/2018/10/lau-tieu-cua-bap-bo.jpg')" class="background-news"></div>
<div class="container" id="filter">
    <h1 class="tin-tuc font-effect-anaglyph pt-2"><b>ẨM THỰC</b>
        <img style="width: 50px; height: 50px; margin-left: 10px;" src="https://img.icons8.com/fluency/344/kawaii-taco.png" alt="">
        <img style="width: 50px; height: 50px;" src="https://img.icons8.com/fluency/344/kawaii-french-fries.png" alt="">
        <img style="width: 50px; height: 50px;" src="https://img.icons8.com/fluency/344/kawaii-jam.png" alt="">
        <img style="width: 50px; height: 50px;" src="https://img.icons8.com/fluency/344/kawaii-noodle.png" alt="">
    </h1>
    <hr>
    <div style="text-align: right;">
        <button class="snip1547"data-bs-toggle="modal" data-bs-target="#exampleModal"><span>Hãy gợi ý thêm ẩm thực cho chúng tôi bạn nhé!</span></button>
    </div>
    <ul class="nav mb-2 mb-md-0">
        <a href="/du-lich/am-thuc">
            <img style="width: 40px; height: 40px;" src="https://img.icons8.com/doodle/2x/home.png" alt="">
        </a>
        <!-- Example single danger button -->
        <li class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Loại
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/du-lich/am-thuc/loai/dacsan">Đặc sản</a></li>
                <li><a class="dropdown-item" href="/du-lich/am-thuc/loai/banhdangian">Bánh dân gian</a></li>
                <li><a class="dropdown-item" href="/du-lich/am-thuc/loai/anvat">Đồ ăn vặt</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/du-lich/am-thuc">Tất cả</a></li>
            </ul>
        </li>
    </ul>
    <span style="text-align: center; color:darkgrey; line-height: 0px;">
        <p style="font-size: 20px;">Ăn gì tại</p>
        <h3 style="font-size: 35px;"><b>CẦN THƠ</b></h3>
    </span>
    <div class="p-2 background-div">
        <div class="row">
            {{#each amthucs}}
            <div class="col-sm-6 col-lg-4 py-3" id="{{this.tag}}">
                <div class="card img-fluid zoomin">
                    <a href="/du-lich/am-thuc/{{this.slug}}">
                        <img style="height: 360px;" class="card-img-top" src="{{this.image}}"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-white title1 text-center p-1">{{this.title}}</h4>
                        </div>
                    </a>
                    <div class="card-img-overlay text-center p-2 place">
                        <a href="{{this.place}}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                            </svg>
                            {{this.address}}
                        </a>
                    </div>
                </div>
                
            </div>
            {{/each}}
        </div>
    </div>
    <!-- Modal Gợi Ý-->
    <div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form class="modal-dialog" method="POST" action="/du-lich/am-thuc/goi-y" enctype="multipart/form-data">
        <div class="modal-content" style="background-image: url('https://demoda.vn/wp-content/uploads/2022/03/hinh-nen-nau.jpg'); background-size: 100%;">
        <div class="modal-header">
            <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Hãy gửi cho chúng tôi gợi ý của bạn nhé !!!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>(Lưu ý: Dấu * là bắt buộc nhập)</p>
            <label for="email"><b>* Hãy nhập email của bạn</b></label>
            <input type="email" name="email" id="email" class="form-control" required>
            <br>
            <label for="name"><b>* Nhập tên Nhà hàng/Quán/Tiệm</b></label>
            <input type="text" name="name" id="name" class="form-control" required>
            <br>
            <label for="address"><b>* Nhập địa chỉ của Nhà hàng/Quán/Tiệm</b></label>
            <input type="text" name="address" id="address" class="form-control" required>
            <br>
            <label for="image"><b>Hãy gửi thêm cả hình ảnh bạn nhé! (Nếu có)</b></label>
            <input type="file" name="image" id="image" class="form-control">
            <br>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            <button type="submit" class="btn btn-danger">Gửi</button>
        </div>
        </div>
    </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

{{>footer}}