<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>BẢNG ĐIỀU KHIỂN</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        QUẢN LÝ DANH MỤC
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link dropdend-toggle" href="/admin/quan-ly-dia-diem" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <span><b>Quản Lý Điểm Đến</b></span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdend-toggle" href="/admin/quan-ly-am-thuc" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-egg-fried" viewBox="0 0 16 16">
            <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path d="M13.997 5.17a5 5 0 0 0-8.101-4.09A5 5 0 0 0 1.28 9.342a5 5 0 0 0 8.336 5.109 3.5 3.5 0 0 0 5.201-4.065 3.001 3.001 0 0 0-.822-5.216zm-1-.034a1 1 0 0 0 .668.977 2.001 2.001 0 0 1 .547 3.478 1 1 0 0 0-.341 1.113 2.5 2.5 0 0 1-3.715 2.905 1 1 0 0 0-1.262.152 4 4 0 0 1-6.67-4.087 1 1 0 0 0-.2-1 4 4 0 0 1 3.693-6.61 1 1 0 0 0 .8-.2 4 4 0 0 1 6.48 3.273z"/>
            </svg>
            <span><b>Quản Lý Ẩm Thực</b></span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdend-toggle" href="/admin/quan-ly-tour" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-train-freight-front" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M5.065.158A1.5 1.5 0 0 1 5.736 0h4.528a1.5 1.5 0 0 1 .67.158l3.237 1.618a1.5 1.5 0 0 1 .83 1.342V13.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V3.118a1.5 1.5 0 0 1 .828-1.342L5.065.158ZM2 9.372V13.5A1.5 1.5 0 0 0 3.5 15h4V8h-.853a.5.5 0 0 0-.144.021L2 9.372ZM8.5 15h4a1.5 1.5 0 0 0 1.5-1.5V9.372l-4.503-1.35A.5.5 0 0 0 9.353 8H8.5v7ZM14 8.328v-5.21a.5.5 0 0 0-.276-.447l-3.236-1.618A.5.5 0 0 0 10.264 1H5.736a.5.5 0 0 0-.223.053L2.277 2.67A.5.5 0 0 0 2 3.118v5.21l1-.3V5a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3.028l1 .3Zm-2-.6V5H8.5v2h.853a1.5 1.5 0 0 1 .431.063L12 7.728ZM7.5 7V5H4v2.728l2.216-.665A1.5 1.5 0 0 1 6.646 7H7.5Zm-1-5a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3Zm-3 8a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1Zm9 0a.5.5 0 1 0 0 1 .5.5 0 0 0 0-1ZM5 13a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm7 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z"/>
            </svg>
            <span><b>Quản Lý Tour</b></span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdend-toggle" href="/admin/quan-ly-dat-tour" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-week" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
            </svg>
            <span><b>Quản Lý Đặt Tour</b></span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdend-toggle" href="/admin/quan-ly-tin-tuc" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
            <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <span><b>Quản Lý Tin Tức</b></span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link dropdend-toggle" href="/admin/quan-ly-khach-san" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart" viewBox="0 0 16 16">
            <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"/>
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
            </svg>
            <span><b>Quản Lý Khách Sạn</b></span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link dropend-toggle" href="/admin/quan-ly-comment">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
</svg>
            <span><b>Quản Lý Comment</b></span>
        </a>
        {{!-- <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div> --}}
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link dropend-toggle" href="#collapsePages" data-bs-toggle="collapse"
            data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <span><b>Admin</b></span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="/admin/login">Đăng nhập</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a type="button" class="collapse-item" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Thêm User</a>
                <a class="collapse-item" href="/admin/danh-sach-admin">Danh sách User</a>
            </div>
        </div>
    </li>

    {{!-- Modal Signup --}}
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">THÊM MỚI USER</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="mx-1 mx-md-4" method="POST" action="/admin/signup" enctype="multipart/form-data">
                    <section style="background-color: #eee;">
                        <div class="h-100">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-lg-12 col-xl-11">
                                <div class="card text-black" style="border-radius: 25px;">
                                <div class="card-body p-md-5">
                                    <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                            <input type="text" name="name" id="form3Example1c" class="form-control" required/>
                                            <label class="form-label" for="form3Example1c">Họ và Tên</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <img src="https://img.icons8.com/ios-filled/344/birthday.png" width="25px" alt="">&#x3164;
                                            <div class="form-outline flex-fill mb-0">
                                            <input type="date" name="birthday" id="form3Example1c" class="form-control" required/>
                                            <label class="form-label" for="form3Example1c">Ngày sinh</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                            <input type="text" name="phone" id="form3Example1c" class="form-control" required/>
                                            <label class="form-label" for="form3Example1c">Số điện thoại</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                            <input type="email" name="email" id="form3Example3c" class="form-control" required/>
                                            <label class="form-label" for="form3Example3c">Email</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                            <input type="password" name="password" id="form3Example4c" class="form-control" required/>
                                            <label class="form-label" for="form3Example4c">Mật khẩu</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="form3Example4cd" class="form-control" required/>
                                            <label class="form-label" for="form3Example4cd">Nhập lại mật khẩu</label>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-3">
                                            <img src="https://img.icons8.com/ios-glyphs/512/hand-right.png" width="25px" alt="">&#x3164;
                                            <div class="form-outline flex-fill mb-0">
                                                <select name="roles" class="form-select" aria-label="Default select example">
                                                    <option selected>Phân quyền</option>
                                                    <option value="ADMIN">Admin</option>
                                                    <option value="USER">User</option>
                                                    <option value="STAFF">Nhân viên</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-3">
                                            <div class="form-outline flex-fill mb-0">
                                                <input class="form-control" type="file" id="formFile" name="avatar"><br>
                                                <label class="form-label" for="form3Example4cd">Chọn ảnh đại diện</label>
                                                <img id="myImg" src="#" width="200px" alt="">
                                            </div>
                                            {{!-- <div class="form-outline flex-fill mb-0">
                                            <fieldset class="choose-avatar">
                                                <legend>
                                                Bạn có thể chọn file hoặc chọn một ảnh đại diện bên dưới nhé!
                                                </legend>
                                                <input type="radio" name="avatar" class="sr-only" id="girl1" value="girl1.png">
                                                <label for="girl1">
                                                <img src="/img/girl1.png" width="60px" alt="">
                                                </label>
                                                <input type="radio" name="avatar" class="sr-only" id="girl2" value="girl2.png">
                                                <label for="girl2">
                                                <img src="/img/girl2.png" width="60px" alt="">
                                                </label>
                                                <input type="radio" name="avatar" class="sr-only" id="girl3" value="girl3.png">
                                                <label for="girl3">
                                                <img src="/img/girl3.png" width="60px" alt="">
                                                </label>
                                                <input type="radio" name="avatar" class="sr-only" id="girl4" value="girl4.png">
                                                <label for="girl4">
                                                <img src="/img/girl4.png" width="60px" alt="">
                                                </label>
                                                <input type="radio" name="avatar" class="sr-only" id="girl5" value="girl5.png">
                                                <label for="girl5">
                                                <img src="/img/girl5.png" width="60px" alt="">
                                                </label>
                                                <br>
                                                <input type="radio" name="avatar" class="sr-only" id="boy1" value="boy1.png">
                                                <label for="boy1">
                                                <img src="/img/boy1.png" width="60px" alt="">
                                                </label>
                                                <input type="radio" name="avatar" class="sr-only" id="boy2" value="boy2.png">
                                                <label for="boy2">
                                                <img src="/img/boy2.png" width="60px" alt="">
                                                </label>
                                                <input type="radio" name="avatar" class="sr-only" id="boy3" value="boy3.png">
                                                <label for="boy3">
                                                <img src="/img/boy3.png" width="60px" alt="">
                                                </label>
                                                <input type="radio" name="avatar" class="sr-only" id="boy4" value="boy4.png">
                                                <label for="boy4">
                                                <img src="/img/boy4.png" width="60px" alt="">
                                                </label>
                                                <input type="radio" name="avatar" class="sr-only" id="boy5" value="boy5.png">
                                                <label for="boy5">
                                                <img src="/img/boy5.png" width="60px" alt="">
                                                </label>
                                            </fieldset>
                                            </div> --}}
                                        </div>


                                    </div>
                                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </section>

                    <div class="d-flex justify-content-center mx-4 mb-1 mt-3">
                        <button type="submit" class="btn btn-primary btn-lg">Thêm</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
            </div>
        </div>
        </div>

    <!-- Nav Item - Charts -->
    {{!-- <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li> --}}

    <!-- Nav Item - Tables -->
    {{!-- <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li> --}}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white mb-4 topbar static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" id="my_Filter" name="search" class="form-control bg-light border-0 small" placeholder="Tìm kiếm ..."
                        aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <img src="https://img.icons8.com/external-febrian-hidayat-flat-febrian-hidayat/344/external-Filter-user-interface-febrian-hidayat-flat-febrian-hidayat-2.png" width="20px" alt="">
                        </button>
                    </div>
                </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                        <form class="form-inline mr-auto w-100 navbar-search" method="GET" action="/search">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control bg-light border-0 small"
                                    placeholder="Tìm kiếm ..." aria-label="Search"
                                    aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <img src="https://img.icons8.com/avantgarde/344/filter.png" width="20px" alt="">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Nav Item - Alerts -->
                {{!-- <li class="nav-item dropstart no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" id="alertsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">3+</span>
                    </a>
                    <!-- Dropdown - Alerts -->
                    <ul class="dropdown-list dropdown-menu shadow animated--grow-in scrollable-menu mt-3"
                        aria-labelledby="alertsDropdown" data-bs-spy="scroll">
                        <h6 class="dropdown-header" id="ThongBao">
                            Thông báo
                        </h6>
                        {{#each dattours}}
                            <li class="font-tb">
                                <a class="dropdown-item d-flex align-items-center" href="/admin/quan-ly-tour/xem-chi-tiet/{{this._id}}">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">{{this.createdAt}}</div>
                                        <span id="tb">Khách hàng {{this.name}} vừa đặt tour {{this.nametour}}!</span>
                                    </div>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li> --}}
                <li class="btn-group nav-item dropstart no-arrow mx-1">
                    <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        <span class="badge badge-danger badge-counter">3+</span></button>
                    <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li style="background-color: #4e73df;">
                            <h5 id="ThongBao" class="p-3"><b style="color: white;">Thông báo</b></h5>
                        </li>
                        {{#each dattours}}
                            <li class="font-tb">
                                <a class="dropdown-item d-flex align-items-center" href="/admin/quan-ly-tour/xem-chi-tiet/{{this._id}}">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">{{this.createdAt}}</div>
                                        <span id="tb">Khách hàng {{this.name}} vừa đặt tour {{this.nametour}}!</span>
                                    </div>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>

                <!-- Nav Item - Messages -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <div class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{admins.name}}</span>
                            <img class="img-profile rounded-circle" src="/img/{{admins.image}}" width="35px" height="35px">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileModal">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Tài khoản
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Đăng xuất
                            </a>
                        </div>
                        <!-- Modal Profile-->
                        <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel"><b>Hồ sơ</b></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" >
                                <link rel="stylesheet" href="/css/profile.css">
                                <div class="padding">
                                    <div class="row ">
                                         <div class="col-xl-6 col-md-12">
                                            <div class="card user-card-full">
                                                <div class="row m-l-0 m-r-0">
                                                    <div class="col-sm-4 bg-c-lite-green user-profile">
                                                        <div class="card-block text-center text-white">
                                                            <div class="m-b-25 carreaux_presentation_light" style="background-image:url('/img/{{admins.image}}');">
                                                                <div class="shadow_swhow_mini">
                                                                    <a class="deroul_titre" type="button" data-bs-toggle="modal" data-bs-target="#doiAvatar">Đổi avatar</a>
                                                                </div>
                                                            </div>
                                                            {{!-- <div class="m-b-25 avatar">
                                                                <a href=""><img src="/img/{{admins.image}}" class="img-radius" alt="User-Profile-Image" width="150px"></a>
                                                            </div> --}}
                                                            <h6 class="f-w-600">{{admins.name}}</h6>
                                                            <p>Admin</p>
                                                            <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="card-block">
                                                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Thông tin</h6>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <p class="m-b-10 f-w-600">Email</p>
                                                                    <h6 class="text-muted f-w-400">{{admins.email}}</h6>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <p class="m-b-10 f-w-600">Phone</p>
                                                                    <h6 class="text-muted f-w-400">{{admins.phone}}</h6>
                                                                </div>
                                                            </div>
                                                            <div class="row mt-3">
                                                                <p class="m-b-10 f-w-600">Ngày sinh</p>
                                                                <h6 class="text-muted f-w-400">{{admins.birthday}}</h6>
                                                            </div>
                                                            <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <p class="m-b-10 f-w-600"><a href="/admin/doi-mat-khau/{{admins._id}}"><b>Đổi mật khẩu</b></a></p>
                                                                    <h6 class="text-muted f-w-400"></h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                                <a type="button" class="btn btn-primary" href="/admin/{{admins._id}}/sua-thong-tin">Sửa Thông Tin</a>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </li>
                <!-- Modal -->
                <div class="modal fade" id="doiAvatar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form action="/admin/avatar/{{admins._id}}?_method=PUT" method="post">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Đổi avatar?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Chọn avatar</label>
                                <input class="form-control" name="avatar" value="{{admins.image}}" type="file" id="file">
                                <img src="#" alt="" id="myImg">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                            <button type="submit" class="btn btn-primary">Thay đổi</button>
                        </div>
                        </div>
                    </form>
                </div>
                </div>
                <div class="topbar-divider d-none d-sm-block">
                </div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    
                    <!-- Scroll to Top Button-->
                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                    </a>

                    <!-- Logout Modal-->
                    <div  class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Bạn sẵn sàng đăng xuất?</h5>
                                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn đã sẵn sàng kết thúc phiên hiện tại của mình.</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Huỷ</button>
                                    <a class="btn btn-primary" href="/admin/logout">Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->
<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script>
    window.addEventListener('load', function(){
        document.querySelector('input[type="file"]').addEventListener('change', function(){
            if(this.files && this.files[0]) {
                const imageData = this.files[0]
                var img = document.getElementById('myImg');
                img.onload = () => {
                    URL.revokeObjectURL(img.src);
                }
                img.src = URL.createObjectURL(this.files[0]);

                imageData.preview = URL.createObjectURL(this.files[0])

                console.log(imageData);
            }
        })
    })
</script>