<link rel="stylesheet" href="/css/snip1582.css">
<style>
    .style {
        font-size: 80px;
        color: #C80000;
        line-height: 90px;
    }

    .list-group-item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .list-group-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
</style>

{{>header}}
<div id="productTable">
<header>
    <!-- Carousel wrapper -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://vcdn1-vnexpress.vnecdn.net/2022/03/30/ANH-2-1648614507.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=vNeAdiJIPeDOBddNxhltzw"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://statics.vinpearl.com/cho-noi-cai-rang-7_1624263008.jpg" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/caudibo-cantho.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2020/7/13/819222/Duong-Bich-Hoa-O-Can-04.JPG"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://statics.vinpearl.com/cho-noi-cai-rang-23_1625335426.jpg" class="d-block w-100"
                    alt="...">
            </div>
        </div>
    </div>
    <!-- Carousel wrapper -->
</header>
{{!-- ---------------------------- --}}

<div class="container text-center mt-3">
    <br>
    <h1 class="font-effect-shadow-multiple" style="font-size: 80px">C Ầ N T H Ơ</h1>
    <p><em><b>Biệt danh: </b>Tây Đô | Thủ phủ miền Tây | Đô thị miền sông nước</em></p>
    <p style="font-size: 17px;">
        Cần Thơ là một thành phố trực thuộc trung ương của Việt Nam, là thành phố sầm uất và phát triển nhất ở Đồng bằng
        sông Cửu Long. Cần Thơ hiện là đô thị loại I, là trung tâm kinh tế, văn hóa, xã hội, y tế, giáo dục và thương
        mại của vùng Đồng bằng sông Cửu Long, là thành phố trung tâm cấp vùng và cấp quốc gia cùng với Đà Nẵng, Hải
        Phòng.

    </p>
    <br>
</div>

<!-- Container (TOUR Section) -->
<div class="container mt-1">
    <div id="tour" class="bg-1" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="container">
            <h3 class="text-center pt-3" style="color:#ffd119; font-size: 50px;"><b>TOURs</b></h3>
            <p class="text-center">Hãy cùng trải nghiệm và tận hưởng những chuyến du lịch tuyệt vời.<br> Nhớ đặt tour mà bạn thích nhé!</p>
            <ul class="list-group">
                <li class="list-group-item"><b>DU LỊCH CẦN THƠ</b></li>
            </ul>
            {{!-- Tour --}}
            <div class="mt-3 p-3 tour">
                <div class="row">
                    {{#each tours}}
                    <div class="col-sm-6 col-lg-4 py-2">
                        <div class="card" style="width: 25rem;">
                            <a href="/tour/{{this.slug}}">
                                <img style="height: 270px;" src="{{this.image}}" class="card-img-top"
                                    alt="{{this.name}}">
                            </a>
                            <div class="card-body" style="height: 145px;">
                                <a class="text-center" href="/tour/{{this.slug}}">
                                    <h5 class="card-title"><b>{{this.name}}</b></h5>
                                </a>
                                <p class="card-text text-center" style="line-height: 1px;"><i>Thời gian: {{this.time}}</i></p>
                                <p style="margin-left: 0;"><b>Giá:</b> {{this.price}}<a style="margin-left: 28%" href="{{this.contact}}" target="_blank" class="btn btn-danger">Tìm hiểu</a></p>
                                
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="btn1" style="width: 200px;">
            <a style="color:aliceblue;" href="/tour"><b>Xem thêm tour</b></a>
        </div>
        <br>
    </div>
</div>
            {{!-- Tour --}}

{{!-- ---------------------------- --}}
<div class="mt-5" style="background-color: #ebebeb;">
<div class="container">
    <div class="row py-4">
        <div class="col-5">
            <h1 style="font-size: 80px"><b>ẤN TƯỢNG</b></h1>
            <h2 style="font-size: 60px"><b>BẾN NINH KIỀU</b></h2><br />
            <h3 style="color: red; font-size: 40px;"><b>TƯỢNG ĐÀI HỒ CHÍ MINH</b></h3>
            <br />

            <h6 style="color: rgb(89, 89, 89); font-size: 40px"><b class="style">7,2</b>m</h6>
            <p style="line-height: 10%;">Chiều cao</p>
            <br>
            <h6 style="color: rgb(89, 89, 89); font-size: 40px"><b class="style">12</b>tấn</h6>
            <p style="line-height: 10%;">Cân nặng</p>
            <br>
            <h6 style="color: rgb(89, 89, 89); font-size: 40px"><b class="style">3,6</b>m</h6>
            <p style="line-height: 10%;">Được bố trí trên bệ cao</p>
        </div>
        <div class="col-7">
            <br />
            <p><b style="color: #B80000">Lịch sử hình thành và tên gọi bến Ninh Kiều Cần Thơ: </b> Nơi đây được hình
                thành từ thế kỷ thứ XIX, thời vua Gia Long, nhà Nguyễn. Trước đây bến Ninh Kiều vốn chỉ là một bến sông
                nhỏ tại đầu khu vực chợ Cần Thơ.</p>
            <p>Còn cái tên gọi Ninh Kiều đã có cách đây hơn 60 năm trước, được đặt theo một sự kiện trong lịch sử Việt
                Nam và lấy tên một địa danh lịch sử chiến thắng quân Minh của nghĩa quân Lam Sơn lúc bấy giờ do Lê Lợi
                chỉ huy.</p>
            <br /><br />
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner" style="height: 500px;">
                    <div class="carousel-item active">
                        <img src="https://tourismcantho.vn/files/images/diem-den/ben-ninh-kieu/12.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://statics.vinpearl.com/ben-ninh-kieu-1_1624326787.jpg" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://statics.vinpearl.com/ben-ninh-kieu-6_1624326951.jpg" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://thamhiemmekong.com/wp-content/uploads/2019/05/caudibo-cantho.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://statics.vinpearl.com/ben-ninh-kieu-7_1624326995.png" class="d-block w-100"
                            alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
</div>
{{!-- ---------------------------- --}}

{{!-- button --}}
<div class="background-button pb-5">
<div class="button-circle">
    <h2 style="text-align: center; font-size: 50px; padding-top: 70px;"><b>Sống động từng trải nghiệm</b></h2>
    <br />
    <div class="py-5">
        <span class="sub-button-circle py-5">
            <button type="button" class="btn btn-outline-success btn-circle btn-xl">
                <div class="bg-image-style" data-filter=".sort-red ">
                    <a href="/kham-pha/van-hoa-&-lich-su" type="button">
                        <img src="https://visithcmc.vn/uploads/0000/1/2021/07/26/tab1.svg">
                        <p>Văn hóa<br> &amp; Lịch sử</p>
                    </a>
                </div>
            </button>
        </span>

        <span class="sub-button-circle">
            <button type="button" class="btn btn-outline-primary btn-circle btn-xl" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseExample">
                <div class="bg-image-style">
                    <a href="/du-lich/dia-diem" type="button">
                        <img src="https://visithcmc.vn/uploads/0000/1/2021/07/26/tab4.svg">
                        <p>Địa điểm <br />du lịch</p>
                    </a>
                </div>
            </button>
        </span>

        <span class="sub-button-circle">
            <button type="button" class="btn btn-outline-warning btn-circle btn-xl" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseExample">
                <div class="bg-image-style" data-filter=".sort-ogrange ">
                    <a href="/du-lich/am-thuc" type="button">
                        <img src="https://visithcmc.vn/uploads/0000/1/2021/07/26/tab2.svg">
                        <p>Ẩm thực </p>
                    </a>
                </div>
            </button>
        </span>
    </div>
</div>
</div>
{{!-- button --}}
{{!-- Dia diem --}}
<div style="background-color: #ebebeb;">
    <div class="p-5 container">
        <div class="row">
            <div class="col">
                <div class="card img-fluid news-home">
                    <a href="/tin-tuc/non-la-thu-phap-khong-lo-o-ben-ninh-kieu">
                        <img style="height: 320px;" class="card-img-top" src="https://baocantho.com.vn/image/news/2022/20221018/thumbnail/510x286/1666058210.jpg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="p-1"><b>Nón lá thư pháp khổng lồ ở Bến Ninh Kiều</b></h5>
                            <p>(CTO) - Mấy ngày gần đây, sự xuất hiện của chiếc nón lá khổng lồ được tạo nên từ hàng trăm chiếc nón lá được viết thư pháp khiến người dân và du khách thích thú.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card img-fluid news-home">
                            <a href="/tin-tuc/am-thuc-tu-de-mat-mia">
                                <div class="title-news">
                                    <h5 class="p-1"><b>Ẩm thực từ dế mật mía </b></h5>
                                    <p>Ở Tây Nam Bộ có nhiều món ngon dân dã được làm từ những nguyên liệu sẵn có trong cuộc sống thường ngày. Tại đây cũng có nhiều đặc sản với những nguyên liệu ít ai ngờ tới, mà một trong những ví dụ là dế. Dế gắn liền với tuổi thơ của nhiều người và cũng là món ăn giàu chất dinh dưỡng với những cách chế biến đa dạng.</p>
                                </div>
                                <img style="height: 320px;" class="card-img-top" src="https://baocantho.com.vn/imagetsdt/tsdt/2022/20221012/images/banh%20khot.jpg"
                                    alt="Card image">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card img-fluid news-home">
                            <a href="/tin-tuc/khu-nghi-duong-gan-gui-thien-nhien-o-can-tho">
                                <div class="title-news">
                                    <h5><b>Khu nghỉ dưỡng gần gũi thiên nhiên ở Cần Thơ</b></h5>
                                    <br>
                                    <p>Tọa lạc tại Cồn Ấu, quận Cái Răng, Azerai Cần Thơ ghi điểm với khung cảnh xanh mát, yên bình, là điểm đến cho du khách trải nghiệm, thư giãn. Khu nghỉ dưỡng chỉ cách TP Cần Thơ chỉ vài phút di chuyển bằng thuyền, được xây dựng trên một cồn đảo riêng biệt, bao bọc bởi sông Hậu, với các hồ nước, kênh rạch, vườn cây xanh mát.</p>
                                </div>
                                <img style="height: 320px;" class="card-img-top" src="https://pix8.agoda.net/hotelImages/9350793/-1/110cf471f3961463b41697f683746175.jpg?ca=13&ce=1&s=1024x768"
                                    alt="Card image">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                <div class="card img-fluid news-home">
                    <a href="/tin-tuc/cam-nang-du-lich-can-tho">
                        <img style="height: 320px;" class="card-img-top" src="https://i1-dulich.vnecdn.net/2022/04/08/CanThoVnExpress-1649418901-9461-1649419070.jpg?w=0&h=0&q=100&dpr=2&fit=crop&s=7xM6eJkbNu9Klud9rt7DWA"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="p-1"><b>Cẩm nang du lịch Cần Thơ</b></h5>
                            <p>Vốn được mệnh danh là Tây Đô – Thủ phủ của miền Tây Nam bộ từ hơn trăm năm trước, Cần Thơ là một trong những điểm đến hấp dẫn bậc nhất phía Nam. Cần Thơ nằm ở trung tâm của đồng bằng sông Cửu Long, thuộc vùng hạ lưu sông Mekong. Mặc cho tốc độ kinh tế phát triển nhanh, "Tây Đô" vẫn giữ lại những nét văn hoá đặc trưng của miền sông nước. Dưới đây là những gợi ý để du khách có thể thoải mái khám phá hết những điểm đến nổi tiếng của thủ phủ miền Tây.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card img-fluid news-home">
                    <a href="/tin-tuc/cac-diem-vui-choi-o-phong-dien">
                        <img style="height: 320px;" class="card-img-top" src="https://baocantho.com.vn/image/fckeditor/upload/2022/20220924/images/IMG_3071.jpg"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="p-1"><b>Các điểm vui chơi ở Phong Điền</b></h5>
                            <p>Với 65 điểm du lịch sinh thái, di tích văn hóa - lịch sử, du lịch huyện Phong Ðiền mang đến cho du khách nhiều trải nghiệm, từ các hoạt động lễ hội đến tham quan vui chơi giải trí ở các điểm đến, vườn cây ăn trái... Những ngày này, các điểm đến trên địa bàn huyện chuẩn bị chu đáo đón du khách nhân Ngày hội Du lịch sinh thái Phong Ðiền.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Dia diem --}}
{{!-- -------Can Tho----------------- --}}
<div class="container">
    <img src="/img/Can-Tho .jpg" width="100%" alt="">
</div>
{{!-- ---------Le-Hoi---------------- --}}
<div class="container">
    <h2 style="text-align: center; font-size: 50px; margin-top: 50px;"><b>Sắc màu Lễ Hội</b></h2>
    <div class="row py-4">
        <div class="col-7 mt-4">
            <a href="/le-hoi/hoa-minh-vao-hoi-hoa-dang-can-tho" class="card img-fluid" style="width: 700px; color:black;">
                <img src="https://media.mia.vn/uploads/blog-du-lich/hoa-minh-vao-hoi-hoa-dang-can-tho-dep-lung-linh-da-sac-mau-04-1649212355.jpeg" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h4 class="card-title text-white title1 text-center p-1">HỘI HOA ĐĂNG CẦN THƠ</h4>
                </div>
            </a>
            <br>
        </div>
        <div class="col-5 lehoi" style="text-align: justify;">
            <a href="/le-hoi/le-hoi-banh-dan-gian-nam-bo" target="_blank">
                <h3><b>LỄ HỘI BÁNH DÂN GIAN NAM BỘ</b></h3>
                <p>Lễ hội bánh dân gian Nam Bộ là lễ hội cấp quốc gia được tổ chức nhằm lan tỏa và mang đến những trải nghiệm ẩm thực vô cùng đặc sắc cho mọi người khi Du lịch Cần Thơ. Đến với lễ hội, bạn sẽ được ...</p>
            </a>
            <br>
            <a href="/le-hoi/le-hoi-trai-cay-tan-loc" target="_blank">
                <h3><b>LỄ HỘI TRÁI CÂY TÂN LỘC</b></h3>
                <p>Lễ hội trái cây Tân Lộc chính là dịp để người dân nơi đây cùng quây quần, tôn vinh thành quả và công sức lao động sau một năm làm việc chăm chỉ. Đến với lễ hội khi Du lịch Cần Thơ, bạn sẽ được hòa chung vào bầu không khí vui tươi và ...</p>
            </a>
            <br>
            <a href="/le-hoi/le-hoi-ky-yen-dinh-binh-thuy" target="_blank">
                <h3><b>LỄ HỘI KỲ YÊN ĐÌNH BÌNH THUỶ</b></h3>
                <p>Lễ hội Kỳ Yên đình Bình Thủy đáo lệ mỗi năm 2 lần chính là một trong những lễ hội lớn nhất năm tại Cần Thơ. Sự tồn tại của lễ hội chính là một minh chứng lịch sử vô cùng quan trọng của người Việt. Bỏ lỡ lễ hội này ...</p>
            </a>
            <br>
            <a href="/le-hoi/le-hoi-chua-ong-can-tho" target="_blank">
                <h3><b>LỄ HỘI CHÙA ÔNG CẦN THƠ</b></h3>
                <p>Khám phá Lễ hội chùa Ông Cần Thơ đem đến bạn một cái nhìn thật khác giữa bản sắc văn hóa của người Việt và người Hoa sinh sống tại thành phố Cần Thơ. Mỗi khi vào mùa lễ hội, ...</p>
            </a>
        </div>
    </div>
    <div class="btn1"><a style="color:aliceblue; padding: 4px" href="/le-hoi"><b>Xem tất cả</b></a></div>
    <br>
</div>

{{!-- -------Ban-Do----------------- --}}
<div class="mt-5" style="background-color: #ebebeb;">
<div class="container text-center py-3 mt-5">
    <h2 style="text-align: center; font-size: 50px; margin-top: 50px;"><b>Bản đồ các điểm đến du lịch ở Cần Thơ</b></h2>
    <br>
    <iframe style="width: 100%; height: 700px" src="https://www.google.com/maps/d/embed?mid=1fIVue2jq1eCYSVpHQY5XKytHDQB9PWY&hl=vi&ehbc=2E312F" width="640" height="480"></iframe>
    <br>
</div>
</div>
{{!-- Lịch Trình Gợi Ý --}}
<div class="container mt-5">
    <h2 style="text-align: center; font-size: 50px; margin-top: 50px;"><b>Lịch Trình Gợi Ý</b></h2>
    <br>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner lichtrinh">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 py-2">
                        <div class="card img-fluid zoomin">
                            <a href="/tour/lich-trinh-goi-y/tham-khao-lich-trinh-di-can-tho-kham-pha-cho-noi-2n1d" target="_blank">
                                <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/tham-khao-lich-trinh-di-can-tho-kham-pha-cho-noi-2n1d-07-1649845287.jpeg"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h4 class="card-title text-white title1 text-center p-1">Lịch trình đi Cần Thơ khám phá chợ nổi 2N1Đ</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 py-2" >
                        <div class="card img-fluid zoomin">
                            <a href="/tour/lich-trinh-goi-y/goi-y-lich-trinh-can-tho-3n2d-tu-tuc-cuc-ky-chi-tiet-danh-cho-ban" target="_blank">
                                <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/goi-y-lich-trinh-can-tho-3n2d-tu-tuc-cuc-ky-chi-tiet-danh-cho-ban-09-1649840613.jpg"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h4 class="card-title text-white title1 text-center p-1">Lịch trình Cần Thơ 3N2Đ tự túc cực kỳ chi tiết dành cho bạn</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 py-2">
                        <div class="card img-fluid zoomin">
                            <a href="/tour/lich-trinh-goi-y/lich-trinh-can-tho-2n1d-tu-tuc-cuc-thu-vi-danh-cho-hoi-ban-than" target="_blank">
                                <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/lich-trinh-can-tho-2n1d-tu-tuc-cuc-thu-vi-danh-cho-hoi-ban-than-06-1649841341.jpg"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h4 class="card-title text-white title1 text-center p-1">Lịch trình Cần Thơ 2N1Đ tự túc cực thú vị dành cho hội bạn thân</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 py-2">
                        <div class="card img-fluid zoomin">
                            <a href="/tour/lich-trinh-goi-y/bo-tui-lich-trinh-can-tho-1-ngay-tu-tuc-chi-tiet-cho-hoi-ban-than" target="_blank">
                                <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/bo-tui-lich-trinh-can-tho-1-ngay-tu-tuc-chi-tiet-cho-hoi-ban-than-07-1649830470.jpg"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h4 class="card-title text-white title1 text-center p-1">Lịch trình Cần Thơ 1 ngày tự túc</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 py-2">
                        <div class="card img-fluid zoomin">
                            <a href="/tour/lich-trinh-goi-y/len-ke-hoach-1-ngay-o-can-tho-kham-pha-nhieu-diem-den-thu-vi" target="_blank">
                                <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/len-ke-hoach-1-ngay-o-can-tho-kham-pha-nhieu-diem-den-thu-vi-01-1649846628.jpeg"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h4 class="card-title text-white title1 text-center p-1">Lên kế hoạch 1 ngày ở Cần Thơ</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 py-2">
                        <div class="card img-fluid zoomin">
                            <a href="/tour/lich-trinh-goi-y/thu-vi-lich-trinh-mot-thoang-tay-do-voi-nhung-trai-nghiem-dang-nho" target="_blank">
                                <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/thu-vi-lich-trinh-mot-thoang-tay-do-voi-nhung-trai-nghiem-dang-nho-1-1649570135.jpg"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h4 class="card-title text-white title1 text-center p-1">Thú vị lịch trình một thoáng Tây Đô với những trải nghiệm đáng nhớ</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-6 col-lg-4 py-2">
                        <div class="card img-fluid zoomin">
                            <a href="/tour/lich-trinh-goi-y/tham-gia-hanh-trinh-24h-kham-pha-ve-dep-dat-tay-do" target="_blank">
                                <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/cung-miavn-tham-gia-hanh-trinh-24h-kham-pha-ve-dep-dat-tay-do-5-1649572476.jpg"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h4 class="card-title text-white title1 text-center p-1">Hành trình 24h khám phá vẻ đẹp đất Tây Đô</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 py-2">
                        <div class="card img-fluid zoomin">
                            <a href="/tour/lich-trinh-goi-y/goi-y-lich-trinh-can-tho-3n2d-tu-a-den-z-chi-tiet-nhat" target="_blank">
                                <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/goi-y-lich-trinh-can-tho-3n2d-tu-a-den-z-chi-tiet-nhat-8-1649932994.jpg"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h4 class="card-title text-white title1 text-center p-1">Lịch trình Cần Thơ 3N2Đ từ A đến Z</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 py-2">
                        <div class="card img-fluid zoomin">
                            <a href="/tour/lich-trinh-goi-y/lich-trinh-can-tho-2n1d-chi-tiet-nhat-chinh-phuc-cho-noi-miet-vuon" target="_blank">
                                <img style="height: 400px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/lich-trinh-can-tho-2n1d-chi-tiet-nhat-chinh-phuc-cho-noi-miet-vuon-8-1649948859.jpg"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h4 class="card-title text-white title1 text-center p-1">Lịch trình Cần Thơ 2N1Đ chi tiết</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
</div>
{{!-- ---Goc-ReView---Trai-Nghiem-------------------- --}}
<div class="mt-5" style="background-color: #ebebeb;">
<div class="container py-5">
    <br>
    <h2 style="text-align: center; font-size: 50px;" class="mb-5"><b>Góc ReView - Trải nghiệm</b></h2>
    <div class="row py-4" style="text-align: justify; font-size: 18px;">
        <div class="col-4 review">
            <ol style="font-weight: bold; color: grey;">
                <li><a href="/tour/trai-nghiem/review-cuc-co-tam-kinh-nghiem-di-con-son-can-tho" target="_blank"><b>Review cực có tâm kinh nghiệm đi Cồn Sơn Cần Thơ -></b></a></li>
                <li><a href="/tour/trai-nghiem/review-chat-luong-vinpearl-can-tho-va-cach-dat-phong-gia-re" target="_blank"><b>Review chất lượng Vinpearl Cần Thơ và cách đặt phòng giá rẻ -></b></a></li>
                <li><a href="/tour/trai-nghiem/review-ly-do-ban-nen-den-cho-noi-cai-rang-mot-lan" target="_blank"><b>Review lý do bạn nên đến chợ nổi Cái Răng một lần -></b></a></li>
                <li><a href="/tour/trai-nghiem/review-kinh-nghiem-di-can-tho-tu-tuc-sieu-tiet-kiem" target="_blank"><b>Review kinh nghiệm đi Cần Thơ tự túc siêu tiết kiệm -></b></a></li>
            </ol>
            <br>
            {{!-- <div class="btn1" style="margin-left: 0%;"><a style="color:aliceblue;" href="/tour/trai-nghiem"><b>Xem tất cả</b></a></div> --}}
            <a href="/tour/trai-nghiem" type="button" class="snip1582">Xem tất cả</a>
        </div>
        <div class="col-4">
            <div class="card img-fluid zoomin trainghiem">
                <a href="/tour/trai-nghiem/review-cam-trai-can-tho-va-nhung-trai-nghiem-thu-vi-co-mot-khong-hai">
                    <img style="height: 360px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/review-cam-trai-can-tho-va-nhung-trai-nghiem-thu-vi-co-mot-khong-hai-01-1650371240.jpeg"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title p-1"><b><i style="padding-left: 5px; border-left: 5px solid yellow;"></i>Review cắm trại Cần Thơ và những trải nghiệm thú vị có một không hai</b></h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="card img-fluid zoomin trainghiem">
                <a href="/tour/trai-nghiem/review-an-sap-can-tho-khi-kham-pha-2-cho-dem-noi-tieng">
                    <img style="height: 360px;" class="card-img-top" src="https://media.mia.vn/uploads/blog-du-lich/review-an-sap-can-tho-khi-kham-pha-2-cho-dem-noi-tieng-09-1650377591.jpeg"
                        alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title p-1"><b><i style="padding-left: 5px; border-left: 5px solid rgb(6, 255, 6);"></i>Review ăn sập Cần Thơ khi khám phá 2 Chợ đêm nổi tiếng</b></h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
      $(document).ready(function(){
            $("#myFilter").on("keyup", function() {
                  var value = $(this).val().toLowerCase();
                  $("#productTable div").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                  });
            });
      });
</script>
{{!-- ---------------------------- --}}
{{>footer}}