{{>header}}
<div style="background: linear-gradient(0deg, rgb(9, 147, 189) 0%, rgb(247, 19, 232) 100%);" class="background-news"></div>
<div class="container">
    <h1 class="tin-tuc font-effect-anaglyph"><b>Tour - Cần Thơ</b></h1>
    <hr>
    <div class="fb-like" data-href="http://localhost:5000/kham-pha" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-share-button" data-href="http://localhost:5000/kham-pha" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
    <div style="text-align: justify; width: 80%; margin: auto;">
        <h5 class="pt-4"><b>{{tours.name}}</b></h5>
        <hr>
        <div class="row">
            <div class="col-8">
                <p>Giá: <b style="color: red;">{{tours.price}}</b></p>
                <p>Thời gian tour: <b>{{tours.time}}</b></p>
                <p>Phương tiện: <img src="https://img.icons8.com/ios-filled/344/water-transportation.png" width="20" height="20" alt="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-truck-front-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M3.5 0A2.5 2.5 0 0 0 1 2.5v9c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2v-9A2.5 2.5 0 0 0 12.5 0h-9ZM3 3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3.9c0 .625-.562 1.092-1.17.994C10.925 7.747 9.208 7.5 8 7.5c-1.208 0-2.925.247-3.83.394A1.008 1.008 0 0 1 3 6.9V3Zm1 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm8 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm-5-2a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2H7Z"/>
                    </svg>
                </p>
                <p>Điện thoại hỗ trợ: <b style="color: red;">0774814684</b></p>
            </div>
            <div class="col-4 mt-5 nav nav-tabs">
                <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#DatTour" style="width: 170px; height: 60px; margin: auto; font-size: 20px"><b>ĐẶT TOUR </b><img src="https://img.icons8.com/external-febrian-hidayat-outline-color-febrian-hidayat/344/external-contract-business-and-management-febrian-hidayat-outline-color-febrian-hidayat.png" alt="" width="35px"; height="35px"></a>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <p>
            <li class="nav-item">
                <a class="nav-link border-info" data-bs-toggle="collapse" href="#collapseOne" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Chương trình tour
                </a>
            </li>
            <li class="nav-item">
                <button class="nav-link border-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseExample">
                    Giá
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link border-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseExample">
                    Điều khoản 
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link border-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseExample">
                    Liên hệ
                </button>
            </li>
            </p>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <div id="collapseOne" class="accordion-collapse collapse show border-info" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table">
                                <tbody>
                                <tr class="table-dark">
                                    <th class="itinerary" colspan="2">Hành trình &amp; Giới thiệu</th>
                                </tr>
                                <tr class="table-light">
                                    <th class="align" width="10%">07:00</th>
                                    <td width="90%">
                                    <p style="text-align: justify;"><strong>Thám Hiểm Mekong</strong> đón khách tại điểm hẹn tại thành phố Cần Thơ. Đoàn bắt đầu hành trình khám phá đất Tây Đô 1 ngày với các điểm đến hấp dẫn:</p>
                                    </td>
                                </tr>
                                <tr class="table-danger">
                                    <th class="align" width="10%">07:30</th>
                                    <td width="90%">
                                    <p><strong>Đình Bình Thủy:</strong> Đây là một công trình có giá trị về kiến trúc nghệ thuật cổ truyền của người Việt giai đoạn khai hoang miền Tây Nam bộ. Được dựng từ năm Giáp Thìn 1844, có ý nghĩa đặc biệt trong đời sống tâm linh của nhân dân Bình Thủy, Cần Thơ. Biểu thị sức sống mãnh liệt của cộng đồng làng xã cư dân Nam bộ, tinh thần tôn trọng, thờ phụng tổ tiên, người có công với nước… đồng thời cũng thể hiện trí tuệ, bàn tay khéo léo của người dân địa phương. Đã được Bộ Văn hóa – Thông tin công nhận là Di tích Lịch sử - Văn hóa cấp Quốc gia từ năm 1989.</p>
                                    </td>
                                </tr>
                                <tr class="table-warning">
                                    <th class="align" width="10%">08:00</th>
                                    <td style="text-align: justify;" width="90%">
                                    <p><strong>Nhà Cổ Bình Thủy:</strong> Ngôi nhà cổ năm gian hai mái, được gia đình họ Dương xây vào năm 1870.&nbsp;Công trình có hình khối kiến trúc Pháp độc đáo vừa mang nét cổ kính, trang nghiêm, vừa thể hiện tính phóng khoáng, trang nhã. Không chỉ nổi tiếng bởi lối kiến trúc độc đáo, nhà cổ Bình Thủy còn được biết đến như vườn lan Bình Thủy cũng như là nơi lưu chứa cả một kho cổ vật phong phú có giá trị vô cùng lớn. Nhà cổ Bình Thuỷ cũng là nơi quay bộ phim nổi tiếng "Người tình" của đạo diễn Pháp JJ.Annaud và nhiều bộ phim trong nước.</p>
                                    </td>
                                </tr>
                                <tr class="table-success">
                                    <th class="align" width="10%">09:00</th>
                                    <td style="text-align: justify;" width="90%">Tiếp tục hành trình đoàn đi Thốt Nốt. Đến Cù Lao Tân Lộc tham quan:</td>
                                </tr>
                                <tr class="table-info">
                                    <th class="align" width="10%">10:30</th>
                                    <td style="text-align: justify;" width="90%">
                                    <p><strong>Vườn Ổi: </strong>khu vườn rộng 4.000m<sup>2&nbsp;</sup>trồng 600 gốc ổi lê trái trĩu cành theo phương pháp sạch, an toàn. Du khách sẽ được chính chủ nhân của vườn ổi dẫn lối len qua những cây ổi trĩu qua để tham quan và thưởng thức những món ngon từ ổi như: <strong>gỏi ổi, Rượu ổi, Ổi chiên giòn.</strong>.. thơm ngon lạ miệng.</p>
                                    <p>Đoàn nghỉ ngơi, ăn trưa tại vườn với những món ăn dân dã đậm chất Miền Tây.</p>
                                    </td>
                                </tr>
                                <tr class="table-light">
                                    <th class="align" width="10%">13:00</th>
                                    <td style="text-align: justify;" width="90%">
                                    <p>Tiếp tục hành trình tham quan:</p>
                                    <p><strong>Nhà Cổ Trần Bá Thế:</strong> Đây là một trong những ngôi nhà cổ đã hàng trăm năm tuổi, nhưng vẫn còn nguyên vẹn và mang đậm kiến trúc của người Nam Bộ xưa.</p>
                                    </td>
                                </tr>
                                <tr class="table-danger">
                                    <th class="align" width="10%">13:30</th>
                                    <td style="text-align: justify;" width="90%">
                                    <p><strong>Tự do mua sắm đặc sản</strong> thơm ngon đặc trưng miền Tây như: Mắm cá linh, khô cá tra, dưa mắm, mắm đu đủ, nước mắm cá linh, tép phơi khô...đảm bảo sản phẩm an toàn.</p>
                                    <p><strong>Vườn Dừa</strong>: Đến đây du khách có cảm giác như lạc vào xứ dừa Bến Tre với những cây dừa thẳng tắp rợp bóng mát, nghiêng mình bên dòng kênh xanh. Vườn dừa có diện tích 7,5 công đất, với 550 gốc dừa xiêm, dừa lửa, dừa dứa... Quý khách mắc võng nghỉ ngơi, tận hưởng không gian trong lành, thưởng thức nước dừa ngọt lịm. Tự chèo xuồng theo những con kênh ngắm cảnh, chụp ảnh lưu niệm.</p>
                                    </td>
                                </tr>
                                <tr class="table-warning">
                                    <th class="align" width="10%">&nbsp;15:30</th>
                                    <td style="text-align: justify;" width="90%">
                                    <p>Tạm biệt Cù Lao Tân Lộc, đoàn ghé tham quan&nbsp;<strong>Vườn Cò Bằng Lăng</strong>: là nơi “trú ngụ” của rất nhiều loại cò như: cò ruồi, cò cá, cò ngà, cò ma, cò xanh, cò lép, cò đúm, cò sen, cò quắm… Vườn cò Bằng Lăng là sân chơi chim lớn nhất vùng miền Tây sông nước, đến đây du khách sẽ cảm thấy yên bình, thư thái an nhiên.</p>
                                    </td>
                                </tr>
                                <tr class="table-success">
                                    <th class="align" width="10%">&nbsp;17:30</th>
                                    <td style="text-align: justify;" width="90%">Đoàn di chuyển về thành phố&nbsp;<strong>Cần Thơ</strong>. Trả khách về điểm đón ban đầu theo yêu cầu. <strong>Thám Hiểm Mekong</strong> chia tay và hẹn gặp lại Quý Khách!</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>GIÁ TOUR BAO GỒM</b></p>
                            <ul style="line-height: 27px;">
                                <li>Xe tham quan đời mới, máy lạnh theo chương trình</li>
                                <li>Hướng dẫn viên Tiếng Việt chuyên tour suốt tuyến.</li>
                                <li>Vé tham quan các điểm trong chương trình.</li>
                                <li>01 bữa ăn trưa với các đặc sản địa phương.</li>
                                <li>Phí thưởng thức trái cây. Thưởng thức nước dừa</li>
                                <li>Nước suối &nbsp;01 chai/ 01 khách/ 01 ngày.</li>
                                <li>Nón du lịch: 01 cái /khách/chương trình.</li>
                                <li>Bảo hiểm du lịch, mức bồi thường tối đa: 20.000.000 vnđ/ khách/ vụ.</li>
                            </ul>
                            <br>
                            <p><b>GIÁ TOUR KHÔNG BAO GỒM</b></p>
                            <ul style="line-height: 27px;">
                                <li>Hóa đơn GTGT</li>
                                <li>Chi phí ăn uống ngoài chương trình: bia, rượu, nước ngọt...</li>
                                <li>Chi phí cá nhân, chi phí tham quan các điểm ngoài chương trình.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>QUY ĐỊNH CHO TRẺ EM</b></p>
                            <ul style="line-height: 27px;">
                                <li>Trẻ từ 05 tuổi trở xuống: Miễn phí (ngủ chung giường với gia đình trên xe và khách sạn, gia đình tự lo cho trẻ nếu có chi phí phát sinh).</li>
                                <li>Trẻ từ 06 đến 09 tuổi: 75% giá tour (bao gồm giường riêng trên xe, ngủ chung giường khách sạn với gia đình).</li>
                                <li>Trẻ từ 10 tuổi trở lên: 100% giá tour như người lớn.</li>
                                <li>Tiêu chuẩn 75% vé: được 01 suất ăn (nếu có) + 1 ghế ngồi trên xe (nếu có) + 1 ghế ngồi trên tàu (nếu có) + 1 suất ngủ (nếu có).</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p><b>Điện thoại: </b> 0774814684</p>
                            Email: <a href="mailto:huongb1809130@student.ctu.edu.vn">huongb1809130@student.ctu.edu.vn</a>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <!-- Modal -->
        <div class="modal fade mt-5" id="DatTour" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <form action="/tour/{{tours.slug}}" method="POST">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"><b>ĐIỀN THÔNG TIN LIÊN HỆ</b></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="emailOwnerTour" class="form-control" value="{{tours.ownerTour}}" hidden/>
                        <br>
                        <label class="form-label" for="form4Example1"><b>Tên Tour</b></label>
                        <input type="text" name="nametour" class="form-control" value="{{tours.name}}"/>
                        <br>
                        <label class="form-label" for="form4Example1"><b>Giá Tour</b></label>
                        <input type="text" name="pricetour" class="form-control" value="{{tours.price}}"/>
                        <br>
                        <label class="form-label" for="form4Example1"><b>Họ và Tên</b></label>
                        <input type="text" name="name" class="form-control" />
                        <br>
                        <label for="exampleFormControlInput1" class="form-label"><b>Email</b></label>
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="email@example.com" required/>
                        <br>
                        <label class="form-label" for="form4Example1"><b>Số điện thoại</b></label>
                        <input type="tel" name="phone" id="form4Example1" class="form-control" required/>
                        <br>
                        <label class="form-label" for="form4Example3"><b>Địa Chỉ</b></label>
                        <input class="form-control" name="address" id="form4Example3"></input>
                        <br>
                        <label class="form-label" for="form4Example3"><b>Thời gian khởi hành</b></label>
                        <input type="date" class="form-control" name="day" id="form4Example3"></input>
                        <br>
                        <label class="form-label" for="form4Example1"><b>Số người đặt tour:</b></label><br>
                        <div>
                            <span>
                                <label class="form-label" for="form4Example1">Trẻ em nhỏ hơn 6 tuổi: </label>
                                <input type="number" name="sm6" min="0" max="5">
                            </span>
                            <span class="m-4">
                                <label class="form-label" for="form4Example1">Trẻ em từ 6 - 9 tuổi: </label>
                                <input type="number" name="f69" min="0" max="5">
                            </span>
                            <span>
                                <label class="form-label" for="form4Example1">Từ 10 tuổi trở lên: </label>
                                <input type="number" name="lg9" min="0" max="20">
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                        <button class="btn btn-primary green" type="submit">Đặt Tour</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    {{>comment-tour}}
</div>
{{>footer}}